div.minimalistBlack {
  border: 3px solid #000000;
  background-color: #E9FEFF;
  width: 80%;
  height: 600px;
  text-align: left;
  border-collapse: collapse;

}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  border: 1px solid #000000;
  padding: 5px 4px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
  font-size: 20px;
}
.divTable.minimalistBlack .divTableHeading {
  background: #F7FFD1;
  background: -moz-linear-gradient(top, #f9ffdc 0%, #f7ffd5 66%, #F7FFD1 100%);
  background: -webkit-linear-gradient(top, #f9ffdc 0%, #f7ffd5 66%, #F7FFD1 100%);
  background: linear-gradient(to bottom, #f9ffdc 0%, #f7ffd5 66%, #F7FFD1 100%);
  border-bottom: 3px solid #000000;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-size: 20px;
  font-weight: bold;
  color: #030808;
  text-align: left;
}
.minimalistBlack .tableFootStyle {
  font-size: 20px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group; font-size: 30px;}