
*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-image : url(' bi-background-frame.png ');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 100%;
overflow : auto;
margin : 30px auto 0 auto;
}
.pageHeader{
background-color : rgba(237,253,255,0.78);
float : left;
clear : none;
height : 50px;
width : 100%;
}
.pageLeftMenu{
background-color : rgba(237,253,255,0.99);
float : left;
clear : none;
height : 200px;
width : 20%;
}
.pageContent{
background-color : rgba(239,255,234,0.97);
float : left;
clear : none;
height : 200px;
width : 80%;
}
.pageFooter{
background-color : rgba(83,0,2,0.97);
float : left;
clear : none;
height : 50px;
width :100%;
}

Already build your website layout and need to build a menu for it?! 
Visit : www.Blended-Menu.com