<style type="text/css">
			
#navGradient{
	background: -webkit-linear-gradient(orange,transparent 70%);
	height: 80px;
}


.navbar-brand{
  font-size: 30px;
}
.navbar-collapse{
  font-size: 20px;
  padding-left: 30px;
}
.nav-item{
  padding-left: 20px;
}



/*#ul_smallNav{
	margin-top: 150px;
	margin:0 auto;
	padding: 0px; 
	list-style: none; 
	display: table;
	width: 600px;
  	text-align: center;

}

#li_smallNav{

	display: table-cell; 
  	position: relative; 
  	padding: 15px 0;
}

a{
	color: black;
  	text-transform: uppercase;
  	text-decoration: none;
  	letter-spacing: 0.15em;
  
  	display: inline-block;
  	padding: 15px 20px;
  	position: relative;
}

a::after{

  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

  a:hover:after{

  width: 100%; 
  left: 0;
  }

  @media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}

}*/

/*小導航列*/

/*body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, "新細明體";
  
}*/
/*.ui_SmallNav { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
.li_SmallNav { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.a_SmallNav {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}*/




.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 100px;
    text-align: center;
    width: 200px;
    margin-top: 50px;
    
    
    
    background-color: #EE7700;
    cursor: pointer; 
    border-radius:30px;
}
.btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: #CC0000;
    border-radius:30px;
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: #444444;
    border-radius:30px;
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(90deg);
  background-color: rgba(255,255,255,0);
}


.field_title{
  margin-top:120px;
  font-size: 50px;
  text-align: center;
}








</style>


